* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.notification {
  background: tomato;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 1.5rem;
}

.notification .close {
  background: none;
  border: 0;
  height: 32px;
  width: 32px;
  position: absolute;
  right: -16px;
  top: -16px;
}

.close img {
  height: 100%;
  width: 100%;
}
