$primary-color: teal;
$secondary-color: violet;
$dark-color: #333;
$light-color: #ddd;

$background-color: tomato;
$text-color: $dark-color;
$link-color: $light-color;
$font: Helvetica, Arial, sans-serif;